*{
    padding: 0;
    margin: 0;
}
body{overflow-x: inherit;}
a{
    color: #111;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: white    ;
    justify-content: center;
}
.header .text{
    
    color: #29B9B0;
    font-family: Helvetica;
    font-style: italic;
    text-decoration-line: underline;
    width: auto;
    mix-blend-mode: darken;
    text-shadow: 1px 1px 1px #000000;
}
.sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sup img{
    width: 55px;
}
.sup .text{
    font-size: 30px;
}
.title{
    font-size: 18pt;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #29B9B0;
}
.menu{
    display: flex;
    gap: 20px;
}
.item{
    border-bottom: 1px solid black;
    transition: 0.2s;
}
.item:hover{
    font-size: 19px;
}
.secao{
    display: flex;
    width: 100%;
    align-items: center;
}
.secao .op{
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 260px;
    font-size: 18pt;
    text-align: center;
}
.secao .op img{
    width: 300px;
    height: 220px;
}
.menu_resp{
    display: none;
}
@media (max-width:600px){
    .menu{
        display: none;
    }
    .menu_resp{
        display: flex;
    }
}

/* teste de css */

@media (max-width:650px){
    .secao .op{
        width: 142px;
        height: 130px;
    }
    .secao .op img{
        width: 150px;
        height: 110px;
    }
}
.cabecalho{
    background-color: #29B9B0;
}







/* 
css do menu hamburguer
*/

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #868586;
    display: block;
    transition: 0.2s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: 868586;
    padding: 5px 10px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }