{% extends 'base_cliente.html' %}
{% load static %}
{% block content %}
<br>

          
  <div class="content">
    
    <div class="container">
        <h3 class="heading mb-4">Olá, sou do suporte técnico, preencha o formulário de contato abaixo:</h3>
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row justify-content-center">
            <div class="col-md-6">
            
              <p><img src="{% static 'img/logo.png' %}" alt="Image" class="img-fluid" width="100"></p>

              <div class="row">
                <div class="col-md-12 form-group">
                   
                    <label for="">Informe o probelma:</label>
                  <textarea class="form-control" name="message" id="message" cols="20" rows="7" placeholder="Descreva o que tá acontecendo de errado"></textarea>
                </div>
              </div>
            </div>
          <div class="col-md-6">
              
            <form class="mb-5" method="post" id="contactForm" name="contactForm">
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Seu Nome">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 form-group">
                    <label for="">Quando ele acontece?</label>
                  <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Detalhe bem como ocorre o prblema"></textarea>
                </div>
              </div>  
             
            </form>

            <div id="form-message-warning mt-2"></div> 
            <div id="form-message-success">
            </div>
            <a class="btn btn-primary" href="{% url 'accounts:home'%}" role="button">Voltar</a>
            <button type="button" class="btn btn-secondary" id="submitBtn">Submeter</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  
  


{% endblock %}