{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='{% static "js/bootstrap.bundle.js" %}'></script>
    <script src="https://kit.fontawesome.com/c65d405071.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
        <div class="sup">
            <a href="{% url 'accounts:index'%}"><div class="logo"><img src="{% static 'img/logo.png' %}" alt="Logo"></div></a>
            <div style="margin-right: 4%;" class="menu">
              <div class="item"><a href="{% url 'accounts:index'%}">Opções Avançadas</a></div>
           <div class="item"><a href="{% url 'accounts:home'%}">Home</a></div>
                    <div class="item"><a href="{% url 'accounts:contato'%}">Contato</a></div>
              <div class="item"><a href="{% url 'accounts:sobre'%}">Sobre</a></div>
            </div>
            <!--MENU DO MEDIA QUERY-->
            <div class="menu_resp">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="item"><a href="{% url 'accounts:index'%}">Opções Avançadas</a></div>
                    <div class="item"><a href="{% url 'accounts:home'%}">Home</a></div>
                    <div class="item"><a href="{% url 'accounts:contato'%}">Contato</a></div>
                    <div class="item"><a href="{% url 'accounts:sobre'%}">Sobre</a></div>
                   
                </div>
                <div id="main">
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                </div>    
            </div>    
        </div>
      </div>  
            <div class="title"> 
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mx-auto">
              <form id="search-form" class="form-inline my-2 my-lg-0">
                <div class="input-group">
                  <input id="search-input" class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                  <button id="search-button" type="submit" class="btn btn-primary">
                    <i id="search-button" class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
      <div id="search-results" class="search-results"></div>
            <main>
        <center>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-50" src="https://s1.static.brasilescola.uol.com.br/be/conteudo/images/as-frutas-sao-alimentos-importantes-para-nossa-saude-alem-serem-muito-saborosas-5bdaec2def6bb.jpg"  alt="Primeiro Slide" >
            </div>
            <div class="carousel-item">
              <img class="d-block w-50" src="https://deliciagostosa.com/wp-content/uploads/pontos-da-carne-1.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-50" src="https://coopera.vteximg.com.br/arquivos/ids/3150145/2255423%7C225542300.jpg?v=638002916442900000" alt="Terceiro Slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
        </center>
      </main>  
       <div class="d-flex justify-content-around">
           <div>
          <a  href="outra_pagina.html"><button  class="btn btn-outline-dark">
            <img  src="{% static 'img/higiene-pessoal 1.png' %}" alt="Higiene pessoal" width="50"> Higiene pessoal</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img   src="{% static 'img/acougue 1.png' %}" alt="Açougue" width="50">Açougue</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img  src="{% static 'img/cereais 1.png' %}" alt="Cereais" width="50">Cereais</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img  src="{% static 'img/frios 1.png' %}" alt="Frios" width="50">Frios</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img   src="{% static 'img/hortifruti 1.png' %}" alt="Hortifruti" width="50">Hortifruti</button></a>
          
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img  src="{% static 'img/limpeza 1.png' %}" alt="Limpeza" width="50">Limpeza</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img src="{% static 'img/bebidas 1.png' %}" alt="Bebidas">Bebidas</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img src="{% static 'img/elatados 1.png' %}" alt="Enlatados">Enlatados</button></a>
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img src="{% static 'img/laticinios 1.png' %}" alt="Laticíneos">Laticíneos</button></a>  
          <a  href="outra_pagina.html"><button class="btn btn-outline-dark">
            <img src="{% static 'img/pao 1.png' %}" alt="Padaria">Padaria</button></a>  
       </div></div>
       <script src="% static/js/jquery.min.js"></script>
       <script src="% static/js/bootstrap.min.js"></script>
       
    <script>
      // Capturando o formulário e o campo de entrada
      const searchForm = document.getElementById('search-form');
      const searchInput = document.getElementById('search-input');
      const searchResults = document.getElementById('search-results');

      // Função para processar a pesquisa
      function processSearch(event) {
          event.preventDefault(); // Impedindo o envio do formulário

          const query = searchInput.value; // Obtendo o valor da pesquisa

          // Aqui você pode fazer o processamento da pesquisa com base na consulta 'query'
          // Exemplo: você pode enviar uma requisição AJAX para buscar os resultados da pesquisa

          // Limpando os resultados anteriores
          searchResults.innerHTML = '';

          // Exemplo: adicionando resultados de teste
          const resultados = [
            
          ];

          if (resultados.length === 0) {
              const noResultsElement = document.createElement('p');
              noResultsElement.textContent = 'Nenhum resultado encontrado.';
              searchResults.appendChild(noResultsElement);
          } else {
              resultados.forEach(resultado => {
                  const resultElement = document.createElement('p');
                  resultElement.textContent = resultado;
                  searchResults.appendChild(resultElement);
              });
          }
      }

      // Adicionando o evento submit ao formulário
      searchForm.addEventListener('submit', processSearch);
  </script>
</body>
<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginRight = "250px";
  document.getElementById("main").style.display = "none";

}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginRight = "0";
  document.getElementById("main").style.display = "flex";
}
</script>
</html>