{% extends 'base_cliente.html' %}
{% load static %}
{% block content %}
<div class="texto-sobre">
    <div class="esquerda">
        <div> Quem somos nós?</div><br>
        <div class="div-img"><img src="{% static 'img/logo.png' %}" alt="Image" class="img-sobre"></div>
    </div>
    <div class="space">

    </div>
    <div class="direita">
        
            Somos uma empresa de desenvolvimento e 
            divulgação de produtos com o objetivo de interligar o 
            estabelecimento e seus clientes buscando benefícios a ambos, 
            contribuindo assim para que ambos tenham uma ótima experiência!
        
    </div>
</div>
                
{% endblock %}